@font-face {font-family:"Minecraft Regular";
    src:url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),
    url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),
    url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),
    url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");
    font-weight:normal;font-style:normal;}

#landing-page{
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/minecraft.jpg);
    background-size: cover;
    background-position: center;
}
#landing-page button{
    text-align: center;
    width: 120px;
    height: 30px;
    font-family:"Minecraft Regular";
}
#landing-page .button1{
    margin: 25% 45% 0 45%;
}
#landing-page .button2{
    margin: 0 45% 0 45%;
}
#tutorial{
    position:absolute;
    z-index: 11;
    top: 5%;
    bottom:70%;
    left: 5%;
    right: 70%;
    background-color: grey;
    display: none;
    border-radius: 5px;
    color: white;
    font-family:"Minecraft Regular";
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
#gameboard{
    display: none;
}
#mainContain{
    width: 660px;
    height: 660px;
    display:inline-block;
    margin: 0 12% 0 12%;
}
#toolsContain{
    background-color: #000000;
    height: 660px;
    width: 250px;
    display:inline-block;
    float: right;
    position: relative;

}
.toolItem{
    border-style: dashed;
    border-color: lightgrey;
    width:128px;height:128px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 28px;
}
.toolItem img{
    width:120px;
    height:120px;
}
.toolSelected{
background-color: blue;
}
.incorrectSelection{
background-color: red;
}
#itemSelected{
    border-style: solid;
    border-color: lightgrey;
    width:80px;height:80px;
    margin: 0 33% 0 33%!important;
}
.box{
    height:33px;
    width:33px;
    background-size: contain;
    display: inline-block;
    margin-right: 0;
    margin-bottom: -4px;
    box-sizing: border-box;
}
.box:hover{
    border: 1px #8dbfff solid;
}
.sky{
    background-color:#8dbfff ;
}
.cloud{
    background-color: #ffffff;
}
.dirt{
    background-image: url('../images/dirt.png');
}
.rock{
    background-image: url('../images/rock.png');
}
.grass{
    background-image: url('../images/grass.png');
}
.leaf{
    background-image: url('../images/leaf.png');
}
.tree{
    background-image: url('../images/tree.png');
}

