#mainContain{
    /*background-color:#8dbfff ;*/
    width: 680px;
    height: 680px;
    display:inline-block;
    margin: 0 12% 0 12%;
}
#toolsContain{
    background-color: #000000;
    height: 680px;
    width: 250px;
    display:inline-block;
    float: right;
}
.box{
    height:33px;
    width:33px;
    border: 1px black solid;
    background-size: contain;
    display: inline-block;
    margin-right: -1px;
    margin-bottom: -5px;
}
.sky{
    background-color:#8dbfff ;
}
.cloud{
    background-color: #ffffff;
}
.dirt{
    background-image: url('images/dirt.png');
}
.rock{
    background-image: url('images/rock.png');
}
.grass{
    background-image: url('images/grass.png');
}
.leaf{
    background-image: url('images/leaf.png');
}
.tree{
    background-image: url('images/tree.png');
}